--
-- PostgreSQL database dump
--

-- Dumped from database version 16.6
-- Dumped by pg_dump version 16.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: data; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA data;


ALTER SCHEMA data OWNER TO database_owner;

--
-- Name: users; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA users;


ALTER SCHEMA users OWNER TO database_owner;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: government_entity; Type: TABLE; Schema: users; Owner: postgres
--

CREATE TABLE users.government_entity (
    id_government_entity integer NOT NULL,
    name text NOT NULL
);


ALTER TABLE users.government_entity OWNER TO database_owner;

--
-- Name: Government_Entity_id_Government_Entity_seq; Type: SEQUENCE; Schema: users; Owner: postgres
--

CREATE SEQUENCE users."Government_Entity_id_Government_Entity_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE users."Government_Entity_id_Government_Entity_seq" OWNER TO database_owner;

--
-- Name: Government_Entity_id_Government_Entity_seq; Type: SEQUENCE OWNED BY; Schema: users; Owner: postgres
--

ALTER SEQUENCE users."Government_Entity_id_Government_Entity_seq" OWNED BY users.government_entity.id_government_entity;


--
-- Name: city_colombia; Type: TABLE; Schema: users; Owner: postgres
--

CREATE TABLE users.city_colombia (
    id_city_colombia integer NOT NULL,
    id_departments_colombia integer NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE users.city_colombia OWNER TO database_owner;

--
-- Name: city_colombia_id_city_colombia_seq; Type: SEQUENCE; Schema: users; Owner: postgres
--

CREATE SEQUENCE users.city_colombia_id_city_colombia_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE users.city_colombia_id_city_colombia_seq OWNER TO database_owner;

--
-- Name: city_colombia_id_city_colombia_seq; Type: SEQUENCE OWNED BY; Schema: users; Owner: postgres
--

ALTER SEQUENCE users.city_colombia_id_city_colombia_seq OWNED BY users.city_colombia.id_city_colombia;


--
-- Name: create_bp; Type: TABLE; Schema: users; Owner: postgres
--

CREATE TABLE users.create_bp (
    id_create_bp integer NOT NULL,
    cedula numeric NOT NULL,
    fecha_diligenciamiento date NOT NULL,
    nombre_experiencia text NOT NULL,
    entidad_lider character varying(255) NOT NULL,
    tipo_experiencia character varying(50) NOT NULL,
    problema_necesidad text NOT NULL,
    departamentos character varying(255) NOT NULL,
    municipios character varying(255) NOT NULL,
    periodo_inicio date NOT NULL,
    periodo_fin date NOT NULL,
    dirigida_a text NOT NULL,
    objetivo text NOT NULL,
    beneficios character varying(255) NOT NULL,
    numero_beneficiarios integer NOT NULL,
    metodologia text NOT NULL,
    etapa_planeacion text NOT NULL,
    etapa_ejecucion text NOT NULL,
    etapa_evaluacion text NOT NULL,
    material_elaborado character varying(255) NOT NULL,
    apoyo_recibido boolean NOT NULL,
    fuentes_apoyo text NOT NULL,
    montos_apoyo numeric NOT NULL,
    validada boolean NOT NULL,
    como_validada text NOT NULL,
    reconocimiento boolean NOT NULL,
    innovacion text NOT NULL,
    utilidad text NOT NULL,
    resultados text NOT NULL,
    desafios text NOT NULL,
    informacion_adicional text NOT NULL,
    adjuntos text NOT NULL,
    activated boolean DEFAULT false
);


ALTER TABLE users.create_bp OWNER TO database_owner;

--
-- Name: create_bp_id_create_bp_seq; Type: SEQUENCE; Schema: users; Owner: postgres
--

CREATE SEQUENCE users.create_bp_id_create_bp_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE users.create_bp_id_create_bp_seq OWNER TO database_owner;

--
-- Name: create_bp_id_create_bp_seq; Type: SEQUENCE OWNED BY; Schema: users; Owner: postgres
--

ALTER SEQUENCE users.create_bp_id_create_bp_seq OWNED BY users.create_bp.id_create_bp;


--
-- Name: department; Type: TABLE; Schema: users; Owner: postgres
--

CREATE TABLE users.department (
    id_department integer NOT NULL,
    name text NOT NULL,
    government_entity integer NOT NULL
);


ALTER TABLE users.department OWNER TO database_owner;

--
-- Name: department_id_department_seq; Type: SEQUENCE; Schema: users; Owner: postgres
--

CREATE SEQUENCE users.department_id_department_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE users.department_id_department_seq OWNER TO database_owner;

--
-- Name: department_id_department_seq; Type: SEQUENCE OWNED BY; Schema: users; Owner: postgres
--

ALTER SEQUENCE users.department_id_department_seq OWNED BY users.department.id_department;


--
-- Name: departments_colombia; Type: TABLE; Schema: users; Owner: postgres
--

CREATE TABLE users.departments_colombia (
    id_departments_colombia integer NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE users.departments_colombia OWNER TO database_owner;

--
-- Name: departments_colombia_id_departments_colombia_seq; Type: SEQUENCE; Schema: users; Owner: postgres
--

CREATE SEQUENCE users.departments_colombia_id_departments_colombia_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE users.departments_colombia_id_departments_colombia_seq OWNER TO database_owner;

--
-- Name: departments_colombia_id_departments_colombia_seq; Type: SEQUENCE OWNED BY; Schema: users; Owner: postgres
--

ALTER SEQUENCE users.departments_colombia_id_departments_colombia_seq OWNED BY users.departments_colombia.id_departments_colombia;


--
-- Name: experience_type; Type: TABLE; Schema: users; Owner: postgres
--

CREATE TABLE users.experience_type (
    id_experience integer NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE users.experience_type OWNER TO database_owner;

--
-- Name: experience_type_id_experience_seq; Type: SEQUENCE; Schema: users; Owner: postgres
--

CREATE SEQUENCE users.experience_type_id_experience_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE users.experience_type_id_experience_seq OWNER TO database_owner;

--
-- Name: experience_type_id_experience_seq; Type: SEQUENCE OWNED BY; Schema: users; Owner: postgres
--

ALTER SEQUENCE users.experience_type_id_experience_seq OWNED BY users.experience_type.id_experience;


--
-- Name: position; Type: TABLE; Schema: users; Owner: postgres
--

CREATE TABLE users."position" (
    id_position integer NOT NULL,
    name text NOT NULL
);


ALTER TABLE users."position" OWNER TO database_owner;

--
-- Name: position_id_position_seq; Type: SEQUENCE; Schema: users; Owner: postgres
--

CREATE SEQUENCE users.position_id_position_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE users.position_id_position_seq OWNER TO database_owner;

--
-- Name: position_id_position_seq; Type: SEQUENCE OWNED BY; Schema: users; Owner: postgres
--

ALTER SEQUENCE users.position_id_position_seq OWNED BY users."position".id_position;


--
-- Name: ranks; Type: TABLE; Schema: users; Owner: postgres
--

CREATE TABLE users.ranks (
    id_ranks integer NOT NULL,
    name character varying(50) NOT NULL,
    description text NOT NULL,
    required_points integer NOT NULL
);


ALTER TABLE users.ranks OWNER TO database_owner;

--
-- Name: ranks_id_ranks_seq; Type: SEQUENCE; Schema: users; Owner: postgres
--

CREATE SEQUENCE users.ranks_id_ranks_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE users.ranks_id_ranks_seq OWNER TO database_owner;

--
-- Name: ranks_id_ranks_seq; Type: SEQUENCE OWNED BY; Schema: users; Owner: postgres
--

ALTER SEQUENCE users.ranks_id_ranks_seq OWNED BY users.ranks.id_ranks;


--
-- Name: roles; Type: TABLE; Schema: users; Owner: postgres
--

CREATE TABLE users.roles (
    id_roles integer NOT NULL,
    name character varying(50) NOT NULL,
    description text NOT NULL
);


ALTER TABLE users.roles OWNER TO database_owner;

--
-- Name: roles_id_roles_seq; Type: SEQUENCE; Schema: users; Owner: postgres
--

CREATE SEQUENCE users.roles_id_roles_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE users.roles_id_roles_seq OWNER TO database_owner;

--
-- Name: roles_id_roles_seq; Type: SEQUENCE OWNED BY; Schema: users; Owner: postgres
--

ALTER SEQUENCE users.roles_id_roles_seq OWNED BY users.roles.id_roles;


--
-- Name: users; Type: TABLE; Schema: users; Owner: postgres
--

CREATE TABLE users.users (
    id_users integer NOT NULL,
    id_card character varying(50) NOT NULL,
    first_name character varying(50) NOT NULL,
    last_name character varying(50) NOT NULL,
    department integer NOT NULL,
    "position" integer NOT NULL,
    email character varying(200) NOT NULL,
    password character varying(250) NOT NULL,
    role integer NOT NULL,
    status boolean NOT NULL,
    rank integer NOT NULL,
    photo text,
    age integer NOT NULL,
    education text[]
);


ALTER TABLE users.users OWNER TO database_owner;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: users; Owner: postgres
--

CREATE SEQUENCE users.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE users.users_id_seq OWNER TO database_owner;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: users; Owner: postgres
--

ALTER SEQUENCE users.users_id_seq OWNED BY users.users.id_users;


--
-- Name: city_colombia id_city_colombia; Type: DEFAULT; Schema: users; Owner: postgres
--

ALTER TABLE ONLY users.city_colombia ALTER COLUMN id_city_colombia SET DEFAULT nextval('users.city_colombia_id_city_colombia_seq'::regclass);


--
-- Name: create_bp id_create_bp; Type: DEFAULT; Schema: users; Owner: postgres
--

ALTER TABLE ONLY users.create_bp ALTER COLUMN id_create_bp SET DEFAULT nextval('users.create_bp_id_create_bp_seq'::regclass);


--
-- Name: department id_department; Type: DEFAULT; Schema: users; Owner: postgres
--

ALTER TABLE ONLY users.department ALTER COLUMN id_department SET DEFAULT nextval('users.department_id_department_seq'::regclass);


--
-- Name: departments_colombia id_departments_colombia; Type: DEFAULT; Schema: users; Owner: postgres
--

ALTER TABLE ONLY users.departments_colombia ALTER COLUMN id_departments_colombia SET DEFAULT nextval('users.departments_colombia_id_departments_colombia_seq'::regclass);


--
-- Name: experience_type id_experience; Type: DEFAULT; Schema: users; Owner: postgres
--

ALTER TABLE ONLY users.experience_type ALTER COLUMN id_experience SET DEFAULT nextval('users.experience_type_id_experience_seq'::regclass);


--
-- Name: government_entity id_government_entity; Type: DEFAULT; Schema: users; Owner: postgres
--

ALTER TABLE ONLY users.government_entity ALTER COLUMN id_government_entity SET DEFAULT nextval('users."Government_Entity_id_Government_Entity_seq"'::regclass);


--
-- Name: position id_position; Type: DEFAULT; Schema: users; Owner: postgres
--

ALTER TABLE ONLY users."position" ALTER COLUMN id_position SET DEFAULT nextval('users.position_id_position_seq'::regclass);


--
-- Name: ranks id_ranks; Type: DEFAULT; Schema: users; Owner: postgres
--

ALTER TABLE ONLY users.ranks ALTER COLUMN id_ranks SET DEFAULT nextval('users.ranks_id_ranks_seq'::regclass);


--
-- Name: roles id_roles; Type: DEFAULT; Schema: users; Owner: postgres
--

ALTER TABLE ONLY users.roles ALTER COLUMN id_roles SET DEFAULT nextval('users.roles_id_roles_seq'::regclass);


--
-- Name: users id_users; Type: DEFAULT; Schema: users; Owner: postgres
--

ALTER TABLE ONLY users.users ALTER COLUMN id_users SET DEFAULT nextval('users.users_id_seq'::regclass);


--
-- Data for Name: city_colombia; Type: TABLE DATA; Schema: users; Owner: postgres
--



--
-- Data for Name: create_bp; Type: TABLE DATA; Schema: users; Owner: postgres
--



--
-- Data for Name: department; Type: TABLE DATA; Schema: users; Owner: postgres
--



--
-- Data for Name: departments_colombia; Type: TABLE DATA; Schema: users; Owner: postgres
--

COPY users.departments_colombia (id_departments_colombia, name) FROM stdin;
1	Amazonas
2	Antioquia
3	Arauca
4	Atl├íntico
5	Bol├¡var
6	Boyac├í
7	Caldas
8	Caquet├í
9	Casanare
10	Cauca
11	Cesar
12	Choc├│
13	C├│rdoba
14	Cundinamarca
15	Guain├¡a
16	Guaviare
17	Huila
18	La Guajira
19	Magdalena
20	Meta
21	Nari├▒o
22	Norte de Santander
23	Putumayo
24	Quind├¡o
25	Risaralda
26	San Andr├®s, Providencia y Santa Catalina
27	Santander
28	Sucre
29	Tolima
30	Valle del Cauca
31	Vaup├®s
32	Vichada
\.


--
-- Data for Name: experience_type; Type: TABLE DATA; Schema: users; Owner: postgres
--

COPY users.experience_type (id_experience, name) FROM stdin;
1	Pol├¡tica p├║blica
2	Programa
3	Proyecto
4	Estrategia
5	Desarrollo tecnol├│gico
\.


--
-- Data for Name: government_entity; Type: TABLE DATA; Schema: users; Owner: postgres
--

COPY users.government_entity (id_government_entity, name) FROM stdin;
1	Gobernacion del Valle del Cauca
\.


--
-- Data for Name: position; Type: TABLE DATA; Schema: users; Owner: postgres
--

COPY users."position" (id_position, name) FROM stdin;
1	Auxiliar Administrativo
2	Tecnico Operativo
3	Profesional Universitario
4	Profesional Especializado
5	Asesor
\.


--
-- Data for Name: ranks; Type: TABLE DATA; Schema: users; Owner: postgres
--

COPY users.ranks (id_ranks, name, description, required_points) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: users; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: users; Owner: postgres
--



--
-- Name: Government_Entity_id_Government_Entity_seq; Type: SEQUENCE SET; Schema: users; Owner: postgres
--

SELECT pg_catalog.setval('users."Government_Entity_id_Government_Entity_seq"', 1, true);


--
-- Name: city_colombia_id_city_colombia_seq; Type: SEQUENCE SET; Schema: users; Owner: postgres
--

SELECT pg_catalog.setval('users.city_colombia_id_city_colombia_seq', 634, true);


--
-- Name: create_bp_id_create_bp_seq; Type: SEQUENCE SET; Schema: users; Owner: postgres
--

SELECT pg_catalog.setval('users.create_bp_id_create_bp_seq', 10, true);


--
-- Name: department_id_department_seq; Type: SEQUENCE SET; Schema: users; Owner: postgres
--

SELECT pg_catalog.setval('users.department_id_department_seq', 25, true);


--
-- Name: departments_colombia_id_departments_colombia_seq; Type: SEQUENCE SET; Schema: users; Owner: postgres
--

SELECT pg_catalog.setval('users.departments_colombia_id_departments_colombia_seq', 32, true);


--
-- Name: experience_type_id_experience_seq; Type: SEQUENCE SET; Schema: users; Owner: postgres
--

SELECT pg_catalog.setval('users.experience_type_id_experience_seq', 5, true);


--
-- Name: position_id_position_seq; Type: SEQUENCE SET; Schema: users; Owner: postgres
--

SELECT pg_catalog.setval('users.position_id_position_seq', 5, true);


--
-- Name: ranks_id_ranks_seq; Type: SEQUENCE SET; Schema: users; Owner: postgres
--

SELECT pg_catalog.setval('users.ranks_id_ranks_seq', 1, false);


--
-- Name: roles_id_roles_seq; Type: SEQUENCE SET; Schema: users; Owner: postgres
--

SELECT pg_catalog.setval('users.roles_id_roles_seq', 4, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: users; Owner: postgres
--

SELECT pg_catalog.setval('users.users_id_seq', 10, true);


--
-- Name: government_entity Government_Entity_pkey; Type: CONSTRAINT; Schema: users; Owner: postgres
--

ALTER TABLE ONLY users.government_entity
    ADD CONSTRAINT "Government_Entity_pkey" PRIMARY KEY (id_government_entity);


--
-- Name: city_colombia city_colombia_pkey; Type: CONSTRAINT; Schema: users; Owner: postgres
--

ALTER TABLE ONLY users.city_colombia
    ADD CONSTRAINT city_colombia_pkey PRIMARY KEY (id_city_colombia);


--
-- Name: create_bp create_bp_pkey; Type: CONSTRAINT; Schema: users; Owner: postgres
--

ALTER TABLE ONLY users.create_bp
    ADD CONSTRAINT create_bp_pkey PRIMARY KEY (id_create_bp);


--
-- Name: department department_pkey; Type: CONSTRAINT; Schema: users; Owner: postgres
--

ALTER TABLE ONLY users.department
    ADD CONSTRAINT department_pkey PRIMARY KEY (id_department);


--
-- Name: departments_colombia departments_colombia_pkey; Type: CONSTRAINT; Schema: users; Owner: postgres
--

ALTER TABLE ONLY users.departments_colombia
    ADD CONSTRAINT departments_colombia_pkey PRIMARY KEY (id_departments_colombia);


--
-- Name: experience_type experience_type_pkey; Type: CONSTRAINT; Schema: users; Owner: postgres
--

ALTER TABLE ONLY users.experience_type
    ADD CONSTRAINT experience_type_pkey PRIMARY KEY (id_experience);


--
-- Name: position position_pkey; Type: CONSTRAINT; Schema: users; Owner: postgres
--

ALTER TABLE ONLY users."position"
    ADD CONSTRAINT position_pkey PRIMARY KEY (id_position);


--
-- Name: ranks ranks_pkey; Type: CONSTRAINT; Schema: users; Owner: postgres
--

ALTER TABLE ONLY users.ranks
    ADD CONSTRAINT ranks_pkey PRIMARY KEY (id_ranks);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: users; Owner: postgres
--

ALTER TABLE ONLY users.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id_roles);


--
-- Name: government_entity unique_name; Type: CONSTRAINT; Schema: users; Owner: postgres
--

ALTER TABLE ONLY users.government_entity
    ADD CONSTRAINT unique_name UNIQUE (name);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: users; Owner: postgres
--

ALTER TABLE ONLY users.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id_users);


--
-- Name: city_colombia fk_departments; Type: FK CONSTRAINT; Schema: users; Owner: postgres
--

ALTER TABLE ONLY users.city_colombia
    ADD CONSTRAINT fk_departments FOREIGN KEY (id_departments_colombia) REFERENCES users.departments_colombia(id_departments_colombia) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: create_bp fk_entidad_lider; Type: FK CONSTRAINT; Schema: users; Owner: postgres
--

ALTER TABLE ONLY users.create_bp
    ADD CONSTRAINT fk_entidad_lider FOREIGN KEY (entidad_lider) REFERENCES users.government_entity(name) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

